<!-- Page Content -->
<div class="container">
<!-- Page Heading/Breadcrumbs -->
  <div class="row">
      <div class="col-lg-12">
            <h2 class="page-header">
                 <span class="pull-left">List All Post&nbsp;&nbsp; </span>
                <%= button_to "New Post", new_post_path, :method => :get, :remote => true, "data-target" => "#myModal", "data-toggle" => "modal", :type => "button", class: "btn btn-primary" %>
            </h2>
          <ol class="breadcrumb">
              <li><a href="/">Home</a>
              </li>
              <li class="active">List All Post</li>
          </ol>
      </div>
  </div>
  <div class="text-center">
    <%= paginate @posts %>
  </div>
  <br/>
  <br/>
  <br/>
   <div class="col-md-9">
      <% @posts.each do |post| %>
            <div class="row">
              <div class="col-md-3">
                  <a href="/posts/<%= post.id %>">
                      <img class="img-responsive img-hover" src="http://placehold.it/200x200" alt="">
                  </a>
              </div>
              <div class="col-md-6">
                  <h3>
                      <a href="/posts/<%= post.id %>"><%= post.title %></a>
                  </h3>
                  <p><%= post.created_at %></p>
                  <p>by <a href="#">Start Bootstrap</a>
                  </p>
                  <p><%= post.description %></p>
              </div>
            </div>
            <br/>
      <% end %>
  </div>
   <div class="col-md-3">
     <div class="well">
          <h4>Blog Categories</h4>
          <div class="row">
              <div class="col-lg-6">
                  <ul class="list-unstyled">
                      <li><a href="#">Category Name</a>
                      </li>
                      <li><a href="#">Category Name</a>
                      </li>
                      <li><a href="#">Category Name</a>
                      </li>
                      <li><a href="#">Category Name</a>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-6">
                  <ul class="list-unstyled">
                      <li><a href="#">Category Name</a>
                      </li>
                      <li><a href="#">Category Name</a>
                      </li>
                      <li><a href="#">Category Name</a>
                      </li>
                      <li><a href="#">Category Name</a>
                      </li>
                  </ul>
              </div>
          </div>
          <!-- /.row -->
      </div>
    </div>
  <br/>
  <br/>
</div>
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1"></div>