<%= form_for(@post, remote: true) do |f| %>
<div>
  <%= f.label :Title %>
  <%= f.text_field :title, :required => true , class: "form-control"%>
</div>
<div>
  <%= f.label :Description %>
  <%= f.text_area :description, :required => true, class: "form-control" %>
</div>
<div>
  <%= f.label :Content %>
  <%= f.text_area :content, class: "form-control", :required => true %>
</div>
<div>
  <%= f.label :Thumbnail %>
  <%= f.text_field :thumbnail, :required => true, class: "form-control"%>
</div>
<div>
  <%= f.label :Status %>
  <%= f.check_box :status %>
</div>
  <!-- hidden_field store user_id -->
  <%= f.hidden_field :user_id, :value => "2121" %>
<div class="actions">
  <%= f.submit 'Create Post', :class => 'btn btn-success pull-right' %>
  <br/>
</div>
<% end %>
<br/>
